body{
	margin: 0px;
	font-family: Arial,微软雅黑;
	font-size: 12px;
}
a{
	color: #21a557;
}
li{
	display: inline-block;
}

/*顶部通知条*/
.prompt-bar-text{
	display: inline;
}
.prompt-bar{
	width: 100%;
	height:36px;
	background-color: #f3f3f3;
}
.prompt-bar-content{
	width: 1000px;
	line-height: 36px;
	margin-left: auto;
	margin-right: auto;
}
.prompt-bar-close{
	display: inline;
	float: right;
}
.view-now{
	padding-left: 7px;
}

/*导航头*/
.header-content{
	width: 1000px;
	height: 89px;
	margin-left: auto;
	margin-right: auto;
}
.header-logo-en{
	color: #39a030;
	padding-right: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #39a030;
}
.header-logo-cn{
	font-size: 22px;
}
.header-content-logo{
	line-height: 89px;
}
.header-content-nav{
	
}
.follow-fan{
	margin-left: 10px;
}